.oc_sidr_child_menu
{
    margin-left: 10px !important;
}
.oc_sidr_menu_header{
    margin-bottom: 25px;
}
.oc_sidr_menu_header
{
    margin-top: 5px;
}
.oc_sidr_menu_footer
{
    margin-bottom: 15px;
}
.stop-scrolling {
  height: 100% !important;
  overflow: hidden;
}
